.split-pane {
  display: flex;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.split-pane--dragging {
  cursor: col-resize;
  user-select: none;
}

.split-pane__left,
.split-pane__right {
  overflow: hidden;
}

.split-pane__divider {
  width: 1px;
  background-color: var(--border-color);
  cursor: col-resize;
  position: relative;
  flex-shrink: 0;
  transition: background-color 0.2s ease;
}

.split-pane__divider:hover {
  background-color: var(--accent-color);
}

.split-pane__divider-handle {
  position: absolute;
  top: 0;
  left: -4px;
  width: 9px;
  height: 100%;
  cursor: col-resize;
}

.split-pane--dragging .split-pane__divider {
  background-color: var(--accent-color);
}

.split-pane--dragging * {
  cursor: col-resize !important;
}
